.container{
    display: flex;
    flex-direction: column;
    height: 100vh
}
.header{
  flex: 15%;
  background-color: tomato;
}
.menu{
  flex: 5%;
  background-color: green;
}
.content{
  flex: 70%;
  background-color: white;
}
.content iframe {
    flex: 1;
    border: none;
    width: 100%;
    height: 100vh;
}
.footer{
  flex: 10%;
  background-color: orange;
}
h1 {
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
