.container{
    display: flex;
    flex-direction: column;
    height: 100vh
}
.header{
  flex: 15%;
  background-color: tomato;
}
.menu{
  flex: 15%;
  background-color: green;
}
.content{
  flex: 60%;
  background-color: black;
}
.footer{
  flex: 10%;
  background-color: orange;
}
h1 {
  color: red;
  text-align: center;
}
td {
  text-align: center;
}
.tieude {
  color: tomato;
  font-size: 25pt;
  top-margin: 18pt;
}
.noidung {
  color: black;
  font-size: 15pt;
  top-margin: 6pt;
}
